@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
  margin: 0;
  font-family: 'Righteous', cursive;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto; /* shoots them over to right because .navbar is display flexed */
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px black;
  font-size: 20px;
  margin-bottom: 8px;
  /* color: #f1356d; */
  /* transition-delay: .05s; */
}
.blog-preview a{
  text-decoration: none;
  color: #f1356d;
}
.blog-preview p{
  color: black
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-details h2 {
  font-size: 40px;
  color: #f1356d;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.blog-details div {
  margin: 20px 0; 
}
.blog-details p {
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-preview{
  display: flex;
  flex-direction: column;
}
.btn{
  align-self: flex-end;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover {
  background-color: red;
  color: white;
}
.not-found{
  position: absolute;
}
